

# Created by .ignore support plugin (hsz.mobi)

#文件夹干掉
/common/web/uploads
/.idea/
/common/web/uploads/
/backend/runtime/
/console/runtime/
/frontend/runtime/

/vendor/**/.git
/vendor/**/.gitignore




install
bin
pkg


yii
.idea
*.tmp


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.csv
*.log
*.pid
*.xml
*.data
yii

*.DS_Store
/backend/.DS_Store
